<h1>Team Players</h1>
<table class="table table-bordered" id="playerTable">
  <thead>
  <tr>
    <th scope="col" data-sortable="true">Regression Season</th>
    <th scope="col" data-sortable="true">Team</th>
    <th scope="col" data-sortable="true">Name</th>
    <th scope="col" data-sortable="true">Position</th>
    <th scope="col" data-sortable="true">TPE</th>
  </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.regression_season %></td>
      <td><%= player.team.name %></td>
      <td><%= player.name %></td>
      <td><%= player.position %></td>
      <td><%= player.tpe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

