<nav class="bg-light navbar navbar-expand-lg navbar-light rounded">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class=nav-item>
        <%= link_to 'All Players', players_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href=pbe aria-expanded=false data-toggle=dropdown id=pbe>PBE</a>
        <div class="dropdown-menu" aria-labelledby=pbe>
          <% Team.where(league: 'pbe').each do |team| %>
            <%= link_to team.name, team_path(team), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href=milpbe aria-expanded=false aria-haspopup=true data-toggle=dropdown id=milpbe>MilPBE</a>
        <div class="dropdown-menu" aria-labelledby=milpbe>
          <% Team.where(league: 'milpbe').each do |team| %>
            <%= link_to team.name, team_path(team), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class=nav-item>
        <%= link_to 'Free Agents', team_path(Team.where(league: 'free_agent').first), class: 'nav-link' %>
      </li>
      <li class=nav-item>
        <%= link_to 'Retired', team_path(Team.where(league: 'retired').first), class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
