<div class="container">
  <div class="row">
    <%= link_to players_path, class: 'col-md-12 mb-4 mt-10 col-xl-12' do %>
      <div class="border-0 mt-4 card shadow">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">All Players</h5>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row ">
    <% @pbe_teams.each do |team| %>
      <%= link_to team_path(team), class: 'col-md-3 mb-4 col-xl-3' do %>
        <%= content_tag :div, class: "border-0 card shadow" do %>
          <%= image_tag File.join('pbe', "#{team.name.parameterize.underscore}.png"), class: "card-img-top" %>
          <%= content_tag :div, class: "card-body text-center" do %>
            <%= content_tag :h5, team.name, class: "card-title mb-0" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
