<% content_for :title, 'PBE TPE Tracker' %>

<div class="container mt-4">
  <h1>PBE TPE Tracker</h1>
  <div class="row">
    <%= link_to players_path, class: 'col-md-12 mb-4 mt-10 col-xl-12' do %>
      <div class="border-0 mt-4 card shadow">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">All Players</h5>
        </div>
      </div>
    <% end %>
  </div>
  <h3>PBE</h3>
  <div class="row mb-4">
    <% @pbe_teams.each do |team| %>
      <div class="border-0 col-md-3 mb-4 col-xl-3">
        <div class="card shadow">
          <%= image_tag File.join('pbe', "#{team.name.parameterize.underscore}.png"), class: "card-img-top" %>
          <div class="card-body text-center">
            <%= link_to team_path(team) do %>
              <%= content_tag :h6, team.name, class: "card-title mb-0" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <h3>MiLPBE</h3>
  <div class="row mb-4">
    <% @milpbe_teams.each do |team| %>
      <div class="border-0 col-md-3 mb-4 col-xl-3">
        <div class="card shadow">
          <%= image_tag File.join('milpbe', "#{team.name.parameterize.underscore}.png"), class: "card-img-top" %>
          <div class="card-body text-center">
            <%= link_to team_path(team) do %>
              <%= content_tag :h6, team.name, class: "card-title mb-0" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
