<div class="d-flex mb-2">
  <h5><b>Hitting Archetype:</b> <%= @player.hitting_attr.archetype %></h5>
</div>
<div class="d-flex justify-content-between mb-2">
  <table class="table table-bordered mr-2">
    <thead>
    <tr>
      <th scope="col" colspan="2">vs. LHP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="equal_width">BABIP</th>
      <td class="equal_width"><%= @player.hitting_attr.babip_l %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Avoid K's</th>
      <td class="equal_width"><%= @player.hitting_attr.av_k_l %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Gap</th>
      <td class="equal_width"><%= @player.hitting_attr.gap_l %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Power</th>
      <td class="equal_width"><%= @player.hitting_attr.power_l %></td>
    </tr>
    <tr class="equal_width">
      <th scope="row" class="equal_width">Eye/Patience</th>
      <td class="equal_width"><%= @player.hitting_attr.eye_l %></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered ml-2 mr-2 align-self-center">
    <thead>
    <tr>
      <th scope="col" colspan="2">Miscellaneous</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="equal_width">Speed</th>
      <td class="equal_width"><%= @player.hitting_attr.speed %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Stealing</th>
      <td class="equal_width"><%= @player.hitting_attr.steal %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Bunting</th>
      <td class="equal_width"><%= @player.hitting_attr.bunt %></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered ml-2">
    <thead>
    <tr>
      <th scope="col" colspan="2">vs. RHP</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="equal_width">BABIP</th>
      <td class="equal_width"><%= @player.hitting_attr.babip_r %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Avoid K's</th>
      <td class="equal_width"><%= @player.hitting_attr.av_k_r %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Gap</th>
      <td class="equal_width"><%= @player.hitting_attr.gap_r %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Power</th>
      <td class="equal_width"><%= @player.hitting_attr.power_r %></td>
    </tr>
    <tr>
      <th scope="row" class="equal_width">Eye/Patience</th>
      <td class="equal_width"><%= @player.hitting_attr.eye_r %></td>
    </tr>
    </tbody>
  </table>
</div>
